# Ignorar entornos virtuales
venv/
.venv/
__pycache__/

# Ignorar archivos compilados de Python
*.pyc
*.pyo
*.pyd

# Ignorar archivos de configuración sensibles
.env

# Ignorar archivos de bases de datos temporales
*.sqlite3

# Ignorar archivos de logs
app.log

# Ignorar configuraciones de JetBrains (PyCharm, IntelliJ)
.idea/